<div class="header">
  <h2 mat-dialog-title>Selected Grocery Items</h2>
  <mat-icon class="spacer" (click)="copyTableData()" mat-dialog-close>content_copy</mat-icon>
</div>
<div mat-dialog-content>
  <table mat-table [dataSource]="data.selectedItems">

    <ng-container matColumnDef="slno">
      <th mat-header-cell *matHeaderCellDef> SL No </th>
      <td mat-cell *matCellDef="let element; let i =index"> {{ i+1 }} </td>
    </ng-container>

    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let element"> {{ element.item }} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{ element.quantity }} {{element.unit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="createKannadaPDF()">Export to PDF</button>
</div>